startup --max_idle_secs=0

build --experimental_action_listener=//tools/bazel_compile_commands/actions:generate_compile_commands_listener

build --cxxopt='-std=c++17'

build:debug -c dbg
build:debug --copt="-g"
build:debug --strip="never